@import 'mixins';

.repo-card {
  width: 320px;
  min-height: 192px;
  padding: 15px 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  margin: 24px 0;

  @include desktop {
    margin: 18px 0;
  }

  .repo-name {
    display: block;
    width: 100%;
    font-family: "Novecento sans wide";
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1FB9F5;
  }

  .name-border {
    box-sizing: border-box;
    width: 55px;
    height: 2px;
    background-color: #BDCCD3;
  }

  .repo-language {
    padding-top: 12px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    color: #BDCCD3;
  }

  .repo-description {
    padding-top: 12px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
}
