@import 'mixins';

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 21px 25px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  box-sizing: border-box;

  .wrapper {
    flex-direction: column;
    justify-content: center;
  }

  @include tablet-portrait {
    padding: 21px 48px;
  }

  .title-container {
    display: flex;
    justify-content: space-between;

    .title {
      padding-bottom: 10px;
      font-family: "Novecento sans wide";
      font-size: 24px;
      color: #000000;
      text-transform: uppercase;

      .title-border {
        box-sizing: border-box;
        width: 75px;
        height: 2px;
        margin-top: 13px;
        background-color: #1FB9F5;
      }
    }

    .section-filters {
      display: none;

      @include desktop {
        display: inline-flex;
        flex: 1;
        justify-content: flex-end;
      }
    }

    .filter-icon {
      display: inline-block;

      @include desktop {
        display: none;
      }
    }
  }

  .filter-collapse {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

    @include desktop {
      display: none;
    }
  }
}
